<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card card-wizard" data-color="green" id="wizardProfile">
            <form [formGroup]="solicitud">
              <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
              <div class="card-header text-center">
                <h3 class="card-title">
                  Crear Solicitud
                </h3>
                <h5 class="card-description">
                  Insertar la informacion de la solicitud.
                </h5>
              </div>
              <div class="wizard-navigation">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link active" href="#page1" data-toggle="tab" role="tab">
                      DATOS DE RECEPCIÓN DE SOLICITUD
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#page2" data-toggle="tab" role="tab">
                      DATOS DEL SOLICITANTE
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#page3" data-toggle="tab" role="tab">
                      DATOS DE OTROS SOLICITANTES
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#page4" data-toggle="tab" role="tab">
                      DATOS DEL PREDIO A FORMALIZAR
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="page1">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">extension</i>
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(solicitud, 'expedienteSIT')"
                          >
                            <input
                              type="text"
                              name="expedienteSIT"
                              matInput
                              id="text"
                              placeholder="Expediente SIT"
                              formControlName="expedienteSIT"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                            <app-field-error-display
                              [displayError]="isFieldValid(solicitud, 'expedienteSIT')"
                              errorMsg="Diligenciar el campo."
                            >
                            </app-field-error-display>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">flip_to_back</i>
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(solicitud, 'fiso')"
                          >
                            <input
                              type="text"
                              name="fiso"
                              matInput
                              id="fiso"
                              placeholder="FISO"
                              formControlName="fiso"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                            <app-field-error-display
                              [displayError]="isFieldValid(solicitud, 'fiso')"
                              errorMsg="Diligenciar el campo."
                            >
                            </app-field-error-display>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">panorama</i>
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(solicitud, 'departamentoId')"
                          >
                            <mat-select
                              placeholder="DEPARTAMENTOS"
                              name="departamentoId"
                              id="departamentoId"
                              formControlName="departamentoId"
                              (selectionChange)="selectDepartmento($event)"
                            >
                              <mat-option
                                *ngFor="let departamento of departamentos"
                                [value]="departamento.id"
                              >
                                {{ departamento.nombre }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">receipt</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              placeholder="CODIGO DEPARTAMENTO DANE"
                              formControlName="departamentoDane"
                              type="text"
                              id="departamentoDane"
                              name="departamentoDane"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">panorama</i>
                            </span>
                          </div>
                          <mat-form-field>
                            <mat-select
                              placeholder="MUNICIPIOS"
                              name="municipioId"
                              formControlName="municipioId"
                              (selectionChange)="selectMunicipio($event)"
                            >
                              <mat-option
                                *ngFor="let municipio of municipios"
                                [value]="municipio.id"
                              >
                                {{ municipio.nombre }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">receipt</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              placeholder="CODIGO MUNUCIPIO DANE"
                              formControlName="municipioDane"
                              type="text"
                              id="municipioDane"
                              name="municipioDane"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">store</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label">
                            <input
                              type="text"
                              name="corregimiento"
                              matInput
                              id="corregimiento"
                              placeholder="CORREGIMIENTO"
                              formControlName="corregimiento"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">business</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label">
                            <input
                              type="text"
                              name="vereda"
                              matInput
                              id="vereda"
                              placeholder="VEREDA"
                              formControlName="vereda"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="page2">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">accessibility</i>
                            </span>
                          </div>
                          <mat-form-field>
                            <mat-select
                              placeholder="CONDICIÓN DEL SOLICITANTE"
                              name="condicionDelSolicitante"
                              formControlName="condicionDelSolicitante"
                              (selectionChange)="selectCondicionSolicitante($event)"
                            >
                              <mat-option
                                *ngFor="let tipoCondicionSolicitante of tiposCondicionSolicitante"
                                [value]="tipoCondicionSolicitante.id"
                              >
                                {{ tipoCondicionSolicitante.nombre }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">subject</i>
                            </span>
                          </div>
                          <mat-form-field>
                            <mat-select
                              placeholder="PRUEBA UNIÓN"
                              name="pruebaUnion"
                              formControlName="pruebaUnion"
                            >
                              <mat-option
                                *ngFor="let tipoPruebaUnion of tiposPruebaUnion"
                                [value]="tipoPruebaUnion.id"
                              >
                                {{ tipoPruebaUnion.nombre }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(solicitud, 'primerNombreSolicitante')"
                          >
                            <input
                              type="text"
                              name="primerNombreSolicitante"
                              matInput
                              id="primerNombreSolicitante"
                              placeholder="PRIMER NOMBRE SOLICITANTE"
                              formControlName="primerNombreSolicitante"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                            <app-field-error-display
                              [displayError]="isFieldValid(solicitud, 'primerNombreSolicitante')"
                              errorMsg="Diligenciar el campo."
                            >
                            </app-field-error-display>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              placeholder="SEGUNDO NOMBRE SOLICITANTE"
                              formControlName="segundoNombreSolicitante"
                              type="text"
                              id="segundoNombreSolicitante"
                              name="segundoNombreSolicitante"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(solicitud, 'primerApellidoSolicitante')"
                          >
                            <input
                              type="text"
                              name="primerApellidoSolicitante"
                              matInput
                              id="primerApellidoSolicitante"
                              placeholder="PRIMER APELLIDO SOLICITANTE"
                              formControlName="primerApellidoSolicitante"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                            <app-field-error-display
                              [displayError]="isFieldValid(solicitud, 'primerApellidoSolicitante')"
                              errorMsg="Diligenciar el campo."
                            >
                            </app-field-error-display>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              placeholder="SEGUNDO APELLIDO SOLICITANTE"
                              formControlName="segundoApellidoSolicitante"
                              type="text"
                              id="segundoApellidoSolicitante"
                              name="segundoApellidoSolicitante"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <mat-form-field>
                            <mat-select placeholder="SEXO" name="sexo" formControlName="sexo">
                              <mat-option *ngFor="let tipoSexo of tiposSexos" [value]="tipoSexo.id">
                                {{ tipoSexo.nombre }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <mat-form-field>
                            <mat-select
                              placeholder="TIPO DOCUMENTO"
                              name="tipoDocumento"
                              formControlName="tipoDocumento"
                            >
                              <mat-option
                                *ngFor="let tipoDocumento of tiposDocumento"
                                [value]="tipoDocumento.id"
                              >
                                {{ tipoDocumento.nombre }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(solicitud, 'documento')"
                          >
                            <input
                              type="text"
                              name="documento"
                              matInput
                              id="documento"
                              placeholder="DOCUMENTO"
                              formControlName="documento"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                            <app-field-error-display
                              [displayError]="isFieldValid(solicitud, 'documento')"
                              errorMsg="Diligenciar el campo."
                            >
                            </app-field-error-display>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="page3" [hidden]="!showPersonas">
                    <div class="row" *ngFor="let persona of personas">
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">extension</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label">
                            <input
                              type="text"
                              name="primerNombreOtroSolicitante"
                              matInput
                              placeholder="PRIMER NOMBRE OTRO SOLICITANTE"
                              [formControlName]="'primerNombreOtroSolicitante' + persona.index"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              placeholder="SEGUNDO NOMBRE OTRO SOLICITANTE"
                              [formControlName]="'segundoNombreOtroSolicitante' + persona.index"
                              type="text"
                              name="segundoNombreOtroSolicitante"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label">
                            <input
                              type="text"
                              name="primerApellidoOtroSolicitante"
                              matInput
                              placeholder="PRIMER APELLIDO OTRO SOLICITANTE"
                              [formControlName]="'primerApellidoOtroSolicitante' + persona.index"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              placeholder="SEGUNDO APELLIDO OTRO SOLICITANTE"
                              [formControlName]="'segundoApellidoOtroSolicitante' + persona.index"
                              type="text"
                              name="segundoApellidoOtroSolicitante"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <mat-form-field>
                            <mat-select
                              placeholder="SEXO"
                              name="sexoOtro"
                              [formControlName]="'sexoOtro' + persona.index"
                            >
                              <mat-option *ngFor="let tipoSexo of tiposSexos" [value]="tipoSexo.id">
                                {{ tipoSexo.nombre }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <mat-form-field>
                            <mat-select
                              placeholder="TIPO DOCUMENTO"
                              name="tipoDocumentoOtro"
                              [formControlName]="'tipoDocumentoOtro' + persona.index"
                            >
                              <mat-option
                                *ngFor="let tipoDocumento of tiposDocumento"
                                [value]="tipoDocumento.id"
                              >
                                {{ tipoDocumento.nombre }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label">
                            <input
                              type="text"
                              name="documentoOtro"
                              matInput
                              [formControlName]="'documentoOtro' + persona.index"
                              placeholder="DOCUMENTO"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <button
                          mat-raised-button
                          [hidden]="personas.length < 2"
                          class="btn btn-danger btn-sm"
                          (click)="deletePersona(persona.index)"
                        >
                          Eliminar
                        </button>
                        <hr />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <button
                          mat-raised-button
                          class="btn btn-success btn-sm"
                          (click)="addPersona()"
                        >
                          Agregar
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="page4">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">public</i>
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(solicitud, 'nombreDelPredioAFormalizar')"
                          >
                            <input
                              type="text"
                              name="nombreDelPredioAFormalizar"
                              matInput
                              id="nombreDelPredioAFormalizar"
                              placeholder="NOMBRE DEL PREDIO A FORMALIZAR"
                              formControlName="nombreDelPredioAFormalizar"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                            <app-field-error-display
                              [displayError]="isFieldValid(solicitud, 'nombreDelPredioAFormalizar')"
                              errorMsg="Diligenciar el campo."
                            >
                            </app-field-error-display>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">style</i>
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(solicitud, 'folioDeMatriculaInmobiliaria')"
                          >
                            <input
                              type="text"
                              name="folioDeMatriculaInmobiliaria"
                              matInput
                              id="folioDeMatriculaInmobiliaria"
                              placeholder="FOLIO DE MATRÍCULA INMOBILIARIA"
                              formControlName="folioDeMatriculaInmobiliaria"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                            <app-field-error-display
                              [displayError]="
                                isFieldValid(solicitud, 'folioDeMatriculaInmobiliaria')
                              "
                              errorMsg="Diligenciar el campo."
                            >
                            </app-field-error-display>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">description</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label">
                            <input
                              type="text"
                              name="numeroPredialNacional"
                              matInput
                              formControlName="numeroPredialNacional"
                              placeholder="NÚMERO PREDIAL NACIONAL"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">launch</i> PREDIO DE MAYOR EXTENSIÓN
                            </span>
                          </div>
                          <mat-radio-group
                            formControlName="predioDeMayorExtension"
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(solicitud, 'predioDeMayorExtension')"
                            (change)="predioDeMayorExtensionChange($event)"
                          >
                            <mat-radio-button value="1">Sí </mat-radio-button>
                            <br />
                            <mat-radio-button value="2">No </mat-radio-button>
                            <app-field-error-display
                              [displayError]="isFieldValid(solicitud, 'predioDeMayorExtension')"
                              errorMsg="Diligenciar el campo."
                            >
                            </app-field-error-display>
                          </mat-radio-group>
                        </div>
                      </div>
                      <div class="col-sm-6" [hidden]="!showNombrePredioMayor">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">style</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label">
                            <input
                              type="text"
                              name="nombrePredioMayorExtension"
                              matInput
                              formControlName="nombrePredioMayorExtension"
                              placeholder="NOMBRE PREDIO MAYOR EXTENSIÓN"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">straighten</i>
                            </span>
                          </div>
                          <mat-form-field
                            class="example-full-width has-label"
                            [ngClass]="displayFieldCss(solicitud, 'areaSolicitada')"
                          >
                            <input
                              type="text"
                              name="areaSolicitada"
                              matInput
                              id="areaSolicitada"
                              placeholder="ÁREA SOLICITADA m2 *"
                              formControlName="areaSolicitada"
                              oninput="this.value = this.value.toUpperCase()"
                            />
                            <app-field-error-display
                              [displayError]="isFieldValid(solicitud, 'areaSolicitada')"
                              errorMsg="Diligenciar el campo."
                            >
                            </app-field-error-display>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="mr-auto">
                  <input
                    type="button"
                    class="btn btn-previous btn-fill btn-default btn-wd disabled"
                    name="previous"
                    value="Atras"
                  />
                </div>
                <div class="ml-auto">
                  <input
                    type="button"
                    class="btn btn-next btn-fill btn-success btn-wd"
                    name="next"
                    value="Siguiente"
                  />
                  <input
                    type="button"
                    class="btn btn-finish btn-fill btn-warning btn-wd"
                    name="finish"
                    value="Guardar"
                    style="display: none;"
                    (click)="onSubmit()"
                  />
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
        <!-- wizard container -->
      </div>
    </div>
  </div>
</div>
