<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info</i>
            </div>
            <h4 class="card-title">Expediente #{{ solicitud.expedienteSit }} - {{ solicitud.tipoProceso }}</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h4>FISO:</h4>
                <p>{{ solicitud.fiso }}</p>
              </div>
              <div class="col-md-6">
                <h4>FECHA FISO:</h4>
                <p>{{ showDate(solicitud.fechaFiso) }}</p>
              </div>
<!--              <div class="col-md-6">-->
<!--                <h4>TIPO PROCESO:</h4>-->
<!--                <p>{{ solicitud.tipoProceso }}</p>-->
<!--              </div>-->
              <div class="col-md-6">
                <h4>Predio:</h4>
                <p>{{ solicitud.nombreDelPredioAFormalizar }}</p>
              </div>
              <div class="col-md-6">
                <h4>Folio:</h4>
                <p>{{ solicitud.folioDeMatriculaInmobiliaria }}</p>
              </div>
              <div class="col-md-6">
                <h4>Area:</h4>
                <p>{{ solicitud.areaSolicitada }}</p>
              </div>
              <div class="col-md-6">
                <h4>Departamento:</h4>
                <p>{{ solicitud.departamento }}</p>
              </div>
              <div class="col-md-6">
                <h4>Municipio:</h4>
                <p>{{ solicitud.municipio }}</p>
              </div>
              <div class="col-md-6">
                <h4>Solicitante:</h4>
                <p>
                  {{ solicitante.primerNombreSolicitante }}
                  {{ solicitante.segundoNombreSolicitante }}
                  {{ solicitante.primerApellidoSolicitante }}
                  {{ solicitante.segundoApellidoSolicitante }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">bookmarks</i>
            </div>
            <h4 class="card-title">Formularios</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <a
                  [routerLink]="['/solicitudes/editar/', solicitud.id]"
                  class="btn btn-info col-md-4 text-left"
                  >Editar Solicitud</a
                >
              </div>
              <div class="col-md-12">
                <a
                  [routerLink]="['/seguimiento902/editar/', solicitud.id]"
                  class="btn btn-info col-md-4 text-left"
                  >Seguimiento 902</a
                >
              </div>
              <!-- <div class="col-md-12">
                <a
                  [routerLink]="['/informeTecnicoJuridico/editar/', solicitud.id]"
                  class="btn btn-info col-md-4 text-left"
                  >Informe Técnico Jurídico</a
                >
              </div> -->
              <!-- <div class="col-md-12">
                <a [routerLink]="['/solicitudes/ver/', solicitud.id]"
                  class="btn btn-info col-md-4 text-left">Repositorio
                  Documental</a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment </i>
            </div>
            <h4 class="card-title">Entregables Técnico jurídicos</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <a
                  *ngIf="hasSeguimiento902"
                  [routerLink]="[
                    '/templates',
                    {
                      foo: 'siquiero enviar texto',
                      nameFile: 'resolucion_apertura',
                      reportType: 'openResolution',
                      solicitudId: solicitud.id
                    }
                  ]"
                  class="btn btn-info col-md-4 text-left"
                  [state]="{ service: 'nuevoServicio' }"
                >
                  Modelo Resolución de Apertura
                </a>

                <a *ngIf="!hasSeguimiento902" class="btn btn-info disabled col-md-4 text-left">
                  Modelo Resolución de Apertura
                </a>
              </div>
              <div class="col-md-12">
                <a
                  *ngIf="hasSeguimiento902"
                  [routerLink]="[
                    '/templates',
                    {
                      foo: 'siquiero enviar texto',
                      nameFile: 'resolucion_cierre',
                      reportType: 'closeResolution',
                      solicitudId: solicitud.id
                    }
                  ]"
                  class="btn btn-info col-md-4 text-left"
                  [state]="{ service: 'nuevoServicio' }"
                >
                  Modelo Resolución de Cierre
                </a>
                <a *ngIf="!hasSeguimiento902" class="btn btn-info disabled col-md-4 text-left">
                  Modelo Resolución de Cierre
                </a>
              </div>
              <!--              <div class="col-md-12">-->
              <!--                <a-->
              <!--                  [routerLink]="['/templates']"-->
              <!--                  class="btn btn-info col-md-4 text-left"-->
              <!--                  [state]="{ service: 'nuevoServicio' }"-->
              <!--                  >Modelo Cierro</a-->
              <!--                >-->
              <!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
