<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info</i>
            </div>
            <h4 class="card-title">Expediente #{{ solicitud.expedienteSit }}</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h4>FISO:</h4>
                <p>{{ solicitud.fiso }}</p>
              </div>
              <div class="col-md-6">
                <h4>Predio:</h4>
                <p>{{ solicitud.nombreDelPredioAFormalizar }}</p>
              </div>
              <div class="col-md-6">
                <h4>Folio:</h4>
                <p>{{ solicitud.folioDeMatriculaInmobiliaria }}</p>
              </div>
              <div class="col-md-6">
                <h4>Area:</h4>
                <p>{{ solicitud.areaSolicitada }}</p>
              </div>
              <div class="col-md-6">
                <h4>Departamento:</h4>
                <p>{{ solicitud.departamento }}</p>
              </div>
              <div class="col-md-6">
                <h4>Municipio:</h4>
                <p>{{ solicitud.municipio }}</p>
              </div>
              <div class="col-md-6">
                <h4>Solicitante:</h4>
                <p>
                  {{ solicitante.primerNombreSolicitante }}
                  {{ solicitante.segundoNombreSolicitante }}
                  {{ solicitante.primerApellidoSolicitante }}
                  {{ solicitante.segundoApellidoSolicitante }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">bookmarks</i>
            </div>
            <h4 class="card-title">Productos</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <a
                  [routerLink]="['/seguimiento902/editar/', solicitud.id]"
                  class="btn btn-info col-md-4 text-left"
                  >Seguimiento 902</a
                >
              </div>
              <div class="col-md-12">
                <a
                  [routerLink]="['/solicitudes/editar/', solicitud.id]"
                  class="btn btn-info col-md-4 text-left"
                  >Editar Solicitud</a
                >
              </div>
              <!-- <div class="col-md-12">
                <a [routerLink]="['/solicitudes/ver/', solicitud.id]"
                  class="btn btn-info col-md-4 text-left">Repositorio
                  Documental</a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment </i>
            </div>
            <h4 class="card-title">Entregables Juridicos</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <a
                  [routerLink]="[
                    '/templates',
                    {
                      foo: 'siquiero enviar texto',
                      other: '/url/url',
                      template: 'mitemplate.url',
                      solicitudId: solicitud.id
                    }
                  ]"
                  class="btn btn-info col-md-4 text-left"
                  [state]="{ service: 'nuevoServicio' }"
                  >Modelo Apertura</a
                >
              </div>
              <div class="col-md-12">
                <a
                  [routerLink]="['/templates']"
                  class="btn btn-info col-md-4 text-left"
                  [state]="{ service: 'nuevoServicio' }"
                  >Modelo Cierro</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
