<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <div class="wizard-container">
          <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>IDENTIFICACIÓN SOLICITUD</ng-template>
                <div class="card card-wizard">
                  <div class="card-header">IDENTIFICACIÓN SOLICITUD</div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(firstFormGroup, 'zona')"
                            >
                              <input
                                type="text"
                                name="zona"
                                matInput
                                id="zona"
                                placeholder="ZONA"
                                formControlName="zona"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(firstFormGroup, 'zona')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(firstFormGroup, 'sector')"
                            >
                              <input
                                type="text"
                                name="sector"
                                matInput
                                id="sector"
                                placeholder="SECTOR"
                                formControlName="sector"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(firstFormGroup, 'sector')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(firstFormGroup, 'comuna')"
                            >
                              <input
                                type="text"
                                name="comuna"
                                matInput
                                id="comuna"
                                placeholder="COMUNA"
                                formControlName="comuna"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(firstFormGroup, 'comuna')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(firstFormGroup, 'barrio')"
                            >
                              <input
                                type="text"
                                name="barrio"
                                matInput
                                id="barrio"
                                placeholder="BARRIO"
                                formControlName="barrio"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(firstFormGroup, 'barrio')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(firstFormGroup, 'manzana')"
                            >
                              <input
                                type="text"
                                name="manzana"
                                matInput
                                id="manzana"
                                placeholder="MANZANA"
                                formControlName="manzana"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(firstFormGroup, 'manzana')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(firstFormGroup, 'direccion')"
                            >
                              <input
                                type="text"
                                name="direccion"
                                matInput
                                id="direccion"
                                placeholder="DIRECCION"
                                formControlName="direccion"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(firstFormGroup, 'direccion')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(firstFormGroup, 'tipoPredioId')"
                            >
                              <mat-select
                                placeholder="TIPO PREDIO"
                                name="tipoPredioId"
                                formControlName="tipoPredioId"
                              >
                                <mat-option
                                  *ngFor="let tipoPredio of tipoPredios"
                                  [value]="tipoPredio.id"
                                >
                                  {{ tipoPredio.nombre }}
                                </mat-option>
                              </mat-select>
                              <app-field-error-display
                                [displayError]="isFieldValid(firstFormGroup, 'tipoPredioId')"
                                errorMsg="Diligenciar el campo."
                              ></app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(firstFormGroup, 'idPredial')"
                            >
                              <input
                                type="text"
                                name="idPredial"
                                matInput
                                id="idPredial"
                                placeholder="ID PREDIAL"
                                formControlName="idPredial"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(firstFormGroup, 'idPredial')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button
                      mat-button
                      matStepperNext
                      (click)="onNext(firstFormGroup, 'firstFormGroup')"
                      class="btn btn-next btn-fill btn-success btn-wd"
                    >
                      Siguiente
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" [optional]="!secondFormGroup.invalid">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel
                  >ANALISIS PREDIAL - INFORMACIÓN REGISTRAL (VUR)</ng-template
                >
                <div class="card card-wizard">
                  <div class="card-header">INFORMACIÓN REGISTRAL (VUR)</div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(secondFormGroup, 'referenciaCatastral')"
                            >
                              <input
                                type="text"
                                name="referenciaCatastral"
                                matInput
                                id="referenciaCatastral"
                                placeholder="REFERENCIA CATASTRAL"
                                formControlName="referenciaCatastral"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="
                                  isFieldValid(secondFormGroup, 'referenciaCatastral')
                                "
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(secondFormGroup, 'analisisDireccion')"
                            >
                              <input
                                type="text"
                                name="analisisDireccion"
                                matInput
                                id="analisisDireccion"
                                placeholder="DIRECCIÓN"
                                formControlName="analisisDireccion"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(secondFormGroup, 'analisisDireccion')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(secondFormGroup, 'fmiMatriz')"
                            >
                              <input
                                type="text"
                                name="fmiMatriz"
                                matInput
                                id="fmiMatriz"
                                placeholder="FMI MATRIZ"
                                formControlName="fmiMatriz"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(secondFormGroup, 'fmiMatriz')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(secondFormGroup, 'fmiDerivados')"
                            >
                              <input
                                type="text"
                                name="fmiDerivados"
                                matInput
                                id="fmiDerivados"
                                placeholder="FMI DERIVADOS"
                                formControlName="fmiDerivados"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(secondFormGroup, 'fmiDerivados')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(secondFormGroup, 'tipoEstadoVurId')"
                            >
                              <mat-select
                                placeholder="TIPO ESTADO"
                                name="tipoEstadoVurId"
                                formControlName="tipoEstadoVurId"
                              >
                                <mat-option
                                  *ngFor="let estadoITJ of tipoEstadosInformeTecnicoJuridico"
                                  [value]="estadoITJ.id"
                                >
                                  {{ estadoITJ.nombre }}
                                </mat-option>
                              </mat-select>
                              <app-field-error-display
                                [displayError]="isFieldValid(secondFormGroup, 'tipoEstadoVurId')"
                                errorMsg="Diligenciar el campo."
                              ></app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(secondFormGroup, 'propietario')"
                            >
                              <input
                                type="text"
                                name="propietario"
                                matInput
                                id="propietario"
                                placeholder="PROPIETARIO"
                                formControlName="propietario"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(secondFormGroup, 'propietario')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(secondFormGroup, 'documentoAperturaFmi')"
                            >
                              <input
                                type="text"
                                name="documentoAperturaFmi"
                                matInput
                                id="documentoAperturaFmi"
                                placeholder="DOCUMENTO APERTURA FMI"
                                formControlName="documentoAperturaFmi"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="
                                  isFieldValid(secondFormGroup, 'documentoAperturaFmi')
                                "
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(secondFormGroup, 'areaTerreno')"
                            >
                              <input
                                type="number"
                                name="areaTerreno"
                                matInput
                                id="areaTerreno"
                                placeholder="ÁREA DE TERRENO"
                                formControlName="areaTerreno"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(secondFormGroup, 'areaTerreno')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button mat-button matStepperPrevious class="btn btn-fill btn-link btn-wd">
                      Volver
                    </button>
                    <button
                      mat-button
                      matStepperNext
                      (click)="onNext(secondFormGroup, 'secondFormGroup')"
                      class="btn btn-next btn-fill btn-success btn-wd"
                    >
                      Siguiente
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup" [optional]="!thirdFormGroup.invalid">
              <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel
                  >ANALISIS PREDIAL - INFORMACIÓN CATASTRAL (IGAC)</ng-template
                >
                <div class="card card-wizard">
                  <div class="card-header">INFORMACIÓN CATASTRAL (IGAC)</div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(thirdFormGroup, 'direccion')"
                            >
                              <input
                                type="text"
                                name="direccion"
                                matInput
                                id="direccion"
                                placeholder="DIRECCIÓN"
                                formControlName="direccion"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(thirdFormGroup, 'direccion')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(thirdFormGroup, 'folio')"
                            >
                              <input
                                type="text"
                                name="folio"
                                matInput
                                id="folio"
                                placeholder="FOLIO"
                                formControlName="folio"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(thirdFormGroup, 'folio')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(thirdFormGroup, 'propietario')"
                            >
                              <input
                                type="text"
                                name="propietario"
                                matInput
                                id="propietario"
                                placeholder="PROPIETARIO"
                                formControlName="propietario"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(thirdFormGroup, 'propietario')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(thirdFormGroup, 'areaConstruidaR1R2')"
                            >
                              <input
                                type="number"
                                name="areaConstruidaR1R2"
                                matInput
                                id="areaConstruidaR1R2"
                                placeholder="ÁREA CONSTRUIDA (R1 R2) m2"
                                formControlName="areaConstruidaR1R2"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(thirdFormGroup, 'areaConstruidaR1R2')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(thirdFormGroup, 'areaTerrenoShp')"
                            >
                              <input
                                type="number"
                                name="areaTerrenoShp"
                                matInput
                                id="areaTerrenoShp"
                                placeholder="ÁREA DE TERRENO SHP ha + m2"
                                formControlName="areaTerrenoShp"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(thirdFormGroup, 'areaTerrenoShp')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button mat-button matStepperPrevious class="btn btn-fill btn-link btn-wd">
                      Volver
                    </button>
                    <button
                      mat-button
                      matStepperNext
                      (click)="onNext(thirdFormGroup, 'thirdFormGroup')"
                      class="btn btn-next btn-fill btn-success btn-wd"
                    >
                      Siguiente
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup" [optional]="!fourthFormGroup.invalid">
              <form [formGroup]="fourthFormGroup">
                <ng-template matStepLabel
                  >ANALISIS PREDIAL - INFORMACIÓN PREDIAL SOLICITUD</ng-template
                >
                <div class="card card-wizard">
                  <div class="card-header">INFORMACIÓN PREDIAL SOLICITUD</div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(fourthFormGroup, 'idProyecto')"
                            >
                              <input
                                type="text"
                                name="idProyecto"
                                matInput
                                id="idProyecto"
                                placeholder="ID PROYECTO"
                                formControlName="idProyecto"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(fourthFormGroup, 'idProyecto')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(fourthFormGroup, 'direccion')"
                            >
                              <input
                                type="text"
                                name="direccion"
                                matInput
                                id="direccion"
                                placeholder="DIRECCIÓN"
                                formControlName="direccion"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(fourthFormGroup, 'direccion')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="
                                displayFieldCss(fourthFormGroup, 'areaConstruidaLevantamiento')
                              "
                            >
                              <input
                                type="number"
                                name="areaConstruidaLevantamiento"
                                matInput
                                id="areaConstruidaLevantamiento"
                                placeholder="ÁREA CONSTRUIDA LEVANTAMIENTO m2"
                                formControlName="areaConstruidaLevantamiento"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="
                                  isFieldValid(fourthFormGroup, 'areaConstruidaLevantamiento')
                                "
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(fourthFormGroup, 'tipoConstruccionId')"
                            >
                              <mat-select
                                placeholder="TIPO DE CONSTRUCCIONES"
                                name="tipoConstruccionId"
                                formControlName="tipoConstruccionId"
                              >
                                <mat-option
                                  *ngFor="let tipoConstruccio of tipoConstrucciones"
                                  [value]="tipoConstruccio.id"
                                >
                                  {{ tipoConstruccio.nombre }}
                                </mat-option>
                              </mat-select>
                              <app-field-error-display
                                [displayError]="isFieldValid(fourthFormGroup, 'tipoConstruccionId')"
                                errorMsg="Diligenciar el campo."
                              ></app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(fourthFormGroup, 'tipoUsoId')"
                            >
                              <mat-select
                                placeholder="USO"
                                name="tipoUsoId"
                                formControlName="tipoUsoId"
                              >
                                <mat-option *ngFor="let tipoUso of tipoUsos" [value]="tipoUso.id">
                                  {{ tipoUso.nombre }}
                                </mat-option>
                              </mat-select>
                              <app-field-error-display
                                [displayError]="isFieldValid(fourthFormGroup, 'tipoUsoId')"
                                errorMsg="Diligenciar el campo."
                              ></app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(fourthFormGroup, 'tipoExplotacionId')"
                            >
                              <mat-select
                                placeholder="TIPO DE EXPLOTACIÓN"
                                name="tipoExplotacionId"
                                formControlName="tipoExplotacionId"
                              >
                                <mat-option
                                  *ngFor="let tipoExplotacion of tipoExplotaciones"
                                  [value]="tipoExplotacion.id"
                                >
                                  {{ tipoExplotacion.nombre }}
                                </mat-option>
                              </mat-select>
                              <app-field-error-display
                                [displayError]="isFieldValid(fourthFormGroup, 'tipoExplotacionId')"
                                errorMsg="Diligenciar el campo."
                              ></app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button mat-button matStepperPrevious class="btn btn-fill btn-link btn-wd">
                      Volver
                    </button>
                    <button
                      mat-button
                      matStepperNext
                      (click)="onNext(fourthFormGroup, 'fourthFormGroup')"
                      class="btn btn-next btn-fill btn-success btn-wd"
                    >
                      Siguiente
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="colindanteForm" [optional]="!colindanteForm.invalid">
              <form [formGroup]="colindanteForm">
                <ng-template matStepLabel>INFORMACIÓN COLINDANTES</ng-template>
                <div class="card card-wizard">
                  <div class="card-header">INFORMACIÓN COLINDANTES</div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(colindanteForm, 'cardinalidad')"
                            >
                              <input
                                type="text"
                                name="cardinalidad"
                                matInput
                                id="cardinalidad"
                                placeholder="CARDINALIDAD"
                                formControlName="cardinalidad"
                                oninput="this.value = this.value.toUpperCase()"
                              />
                              <app-field-error-display
                                [displayError]="isFieldValid(colindanteForm, 'cardinalidad')"
                                errorMsg="Diligenciar el campo."
                              >
                              </app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button mat-button matStepperPrevious class="btn btn-fill btn-link btn-wd">
                      Volver
                    </button>
                    <button
                      mat-button
                      matStepperNext
                      (click)="onNext(colindanteForm, 'colindanteForm')"
                      class="btn btn-next btn-fill btn-success btn-wd"
                    >
                      Siguiente
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="editorsFormGroup" [optional]="!editorsFormGroup.invalid">
              <form [formGroup]="editorsFormGroup">
                <ng-template matStepLabel
                  >ANALISIS ESPACIAL / ANALISIS JURIDICO / CONCLUSIÓN Y RUTA JURIDICA</ng-template
                >
                <div class="card card-wizard">
                  <div class="card-header">
                    ANALISIS ESPACIAL / ANALISIS JURIDICO / CONCLUSIÓN Y RUTA JURIDICA
                  </div>
                  <div class="card-body">
                    <div class="tab-content">
                      <h6>ANALISIS ESPACIAL</h6>
                      <br />
                      <ckeditor [editor]="editor" formControlName="analisisEspacial"></ckeditor>
                      <app-field-error-display
                        [displayError]="isFieldValid(editorsFormGroup, 'analisisEspacial')"
                        errorMsg="Diligenciar el campo."
                      ></app-field-error-display>
                      <br />
                      <h6>ANALISIS JURIDICO</h6>
                      NATURALEZA JURÍDICA DEL PREDIO DE ACUERDO A ESTUDIOS DE TÍTULOS Y/O FMI
                      <br />
                      <ckeditor
                        [editor]="editor"
                        formControlName="naturalezaJuridicaPredioAcuerdoEstudioFmi"
                      ></ckeditor>
                      <br />
                      DESCRIPCIÓN DEL CASO
                      <ckeditor [editor]="editor" formControlName="descripcionCaso"></ckeditor>
                      <br />
                      <h6>CONCLUSIÓN</h6>
                      <br />
                      <ckeditor
                        [editor]="editor"
                        formControlName="conclusionRutaJuridica"
                      ></ckeditor>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button
                      mat-button
                      matStepperNext
                      (click)="onNext(editorsFormGroup, 'editorsFormGroup')"
                      class="btn btn-next btn-fill btn-success btn-wd"
                    >
                      Siguiente
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="fifthFormGroup">
              <form [formGroup]="fifthFormGroup">
                <ng-template matStepLabel>RUTA JURIDICA</ng-template>
                <div class="card card-wizard">
                  <div class="card-header">RUTA JURIDICA</div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(fifthFormGroup, 'ingenieroElaboroId')"
                            >
                              <mat-select
                                placeholder="INGENIERO QUE ELABORÓ"
                                name="ingenieroElaboroId"
                                formControlName="ingenieroElaboroId"
                              >
                                <mat-option
                                  *ngFor="let userIngeniero of usersIngeniero"
                                  [value]="userIngeniero.id"
                                >
                                  {{ userIngeniero.nombre }}
                                </mat-option>
                              </mat-select>
                              <app-field-error-display
                                [displayError]="isFieldValid(fifthFormGroup, 'ingenieroElaboroId')"
                                errorMsg="Diligenciar el campo."
                              ></app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(fifthFormGroup, 'ingenieroElaboroFecha')"
                            >
                              <input
                                matInput
                                [matDatepicker]="ingenieroElaboroFechapicker"
                                placeholder="INGENIERO ELABORO FECHA"
                                name="ingenieroElaboroFecha"
                                id="ingenieroElaboroFecha"
                                (click)="ingenieroElaboroFechapicker.open()"
                                formControlName="ingenieroElaboroFecha"
                              />
                              <mat-datepicker-toggle matSuffix [for]="ingenieroElaboroFechapicker">
                              </mat-datepicker-toggle>
                              <mat-datepicker #ingenieroElaboroFechapicker></mat-datepicker>
                              <app-field-error-display
                                [displayError]="
                                  isFieldValid(fifthFormGroup, 'ingenieroElaboroFecha')
                                "
                                errorMsg="Diligenciar el campo."
                              ></app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(fifthFormGroup, 'abogadoElaboroId')"
                            >
                              <mat-select
                                placeholder="ABOGADO QUE ELABORÓ"
                                name="abogadoElaboroId"
                                formControlName="abogadoElaboroId"
                              >
                                <mat-option
                                  *ngFor="let userAbodago of usersAbodago"
                                  [value]="userAbodago.id"
                                >
                                  {{ userAbodago.nombre }}
                                </mat-option>
                              </mat-select>
                              <app-field-error-display
                                [displayError]="isFieldValid(fifthFormGroup, 'abogadoElaboroId')"
                                errorMsg="Diligenciar el campo."
                              ></app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(fifthFormGroup, 'abogadoElaboroFecha')"
                            >
                              <input
                                matInput
                                [matDatepicker]="abogadoElaboroFechapicker"
                                placeholder="ABOGADO ELABORO FECHA"
                                name="abogadoElaboroFecha"
                                id="abogadoElaboroFecha"
                                (click)="abogadoElaboroFechapicker.open()"
                                formControlName="abogadoElaboroFecha"
                              />
                              <mat-datepicker-toggle matSuffix [for]="abogadoElaboroFechapicker">
                              </mat-datepicker-toggle>
                              <mat-datepicker #abogadoElaboroFechapicker></mat-datepicker>
                              <app-field-error-display
                                [displayError]="isFieldValid(fifthFormGroup, 'abogadoElaboroFecha')"
                                errorMsg="Diligenciar el campo."
                              ></app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(fifthFormGroup, 'validadorLiderTecnicoId')"
                            >
                              <mat-select
                                placeholder="VALIDACIÓN TÉCNICA LÍDER TÉCNICO"
                                name="validadorLiderTecnicoId"
                                formControlName="validadorLiderTecnicoId"
                              >
                                <mat-option
                                  *ngFor="let userAbodago of usersAbodago"
                                  [value]="userAbodago.id"
                                >
                                  {{ userAbodago.nombre }}
                                </mat-option>
                              </mat-select>
                              <app-field-error-display
                                [displayError]="
                                  isFieldValid(fifthFormGroup, 'validadorLiderTecnicoId')
                                "
                                errorMsg="Diligenciar el campo."
                              ></app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(fifthFormGroup, 'fechaValidacionTecnica')"
                            >
                              <input
                                matInput
                                [matDatepicker]="fechaValidacionTecnicapicker"
                                placeholder="FECHA VALIDACIÓN TÉCNICA"
                                name="fechaValidacionTecnica"
                                id="fechaValidacionTecnica"
                                (click)="fechaValidacionTecnicapicker.open()"
                                formControlName="fechaValidacionTecnica"
                              />
                              <mat-datepicker-toggle matSuffix [for]="fechaValidacionTecnicapicker">
                              </mat-datepicker-toggle>
                              <mat-datepicker #fechaValidacionTecnicapicker></mat-datepicker>
                              <app-field-error-display
                                [displayError]="
                                  isFieldValid(fifthFormGroup, 'fechaValidacionTecnica')
                                "
                                errorMsg="Diligenciar el campo."
                              ></app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="
                                displayFieldCss(fifthFormGroup, 'validadorLiderJuridicoId')
                              "
                            >
                              <mat-select
                                placeholder="VALIDACIÓN JURÍDICA LÍDER JURÍDICO"
                                name="validadorLiderJuridicoId"
                                formControlName="validadorLiderJuridicoId"
                              >
                                <mat-option
                                  *ngFor="let userAbodago of usersAbodago"
                                  [value]="userAbodago.id"
                                >
                                  {{ userAbodago.nombre }}
                                </mat-option>
                              </mat-select>
                              <app-field-error-display
                                [displayError]="
                                  isFieldValid(fifthFormGroup, 'validadorLiderJuridicoId')
                                "
                                errorMsg="Diligenciar el campo."
                              ></app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <mat-form-field
                              class="example-full-width has-label"
                              [ngClass]="displayFieldCss(fifthFormGroup, 'fechaValidacionJuridica')"
                            >
                              <input
                                matInput
                                [matDatepicker]="fechaValidacionJuridicapicker"
                                placeholder="FECHA VALIDACIÓN JURÍDICA"
                                name="fechaValidacionJuridica"
                                id="fechaValidacionJuridica"
                                (click)="fechaValidacionJuridicapicker.open()"
                                formControlName="fechaValidacionJuridica"
                              />
                              <mat-datepicker-toggle
                                matSuffix
                                [for]="fechaValidacionJuridicapicker"
                              >
                              </mat-datepicker-toggle>
                              <mat-datepicker #fechaValidacionJuridicapicker></mat-datepicker>
                              <app-field-error-display
                                [displayError]="
                                  isFieldValid(fifthFormGroup, 'fechaValidacionJuridica')
                                "
                                errorMsg="Diligenciar el campo."
                              ></app-field-error-display>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button mat-button matStepperPrevious class="btn btn-fill btn-link btn-wd">
                      Volver
                    </button>
                    <button
                      mat-button
                      (click)="save('fifthFormGroup', true)"
                      class="btn btn-next btn-fill btn-success btn-wd"
                    >
                      Guardar
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>
          </mat-vertical-stepper>
        </div>
      </div>
    </div>
  </div>
</div>
