<div class="main-content">
  <div class="container-fluid">
    <div class="header text-center">
      <h3 class="title">Reportes Descargables</h3>
    </div>
  </div>
  <div class="places-sweet-alerts">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body text-center">
            <h5>Reporte Seguimiento - ADMINISTRATIVA BIENES FISCALES</h5>
            <button mat-raised-button class="btn btn-success btn-fill" (click)="downloadFile('ABF')">
              Descargar Archivo
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body text-center">
            <h5>Reporte Seguimiento 902 - PERSONA NATURAL</h5>
            <button mat-raised-button class="btn btn-success btn-fill" (click)="downloadFile('PN')">
              Descargar Archivo
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body text-center">
            <h5>Reporte Seguimiento 902 - ENTIDADES DE DERECHO PÚBLICO</h5>
            <button mat-raised-button class="btn btn-success btn-fill" (click)="downloadFile('EDP')">
              Descargar Archivo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
